
<div class="grid-100 row controls">
  <div class="grid-30">
    <select ng-change="getRecipeByCategory(category)" ng-model="category.name" ng-options="category.name as category.name for category in categories">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="view('/add')">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div ng-if="!recipes" class="grid-100 row">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<div ng-click="recipesById()" ng-repeat="recipe in recipes" class="grid-100 row addHover">
  <a href="#!/edit/{{recipe._id}}">
    <div class="grid-70">
      <p>{{recipe.name}} in about {{recipe.prepTime + recipe.cookTime}} minutes!
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a href="#!/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a ng-click="deleteRecipes(recipe, $index)" ng-confirm-click="Are you sure you want to DELETE" class="no-action-link" > <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
